<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AspNetWebApplicationEntities" connectionString="metadata=res://*/Model.AspNetWebApplication.csdl|res://*/Model.AspNetWebApplication.ssdl|res://*/Model.AspNetWebApplication.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5111.site4now.net;user id=db_9d664d_devweb_admin;password=d354rr0LloW3bUm6;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>